@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Pro"),
         url("../fonts/GothamPro.ttf") format("woff2"),
         url("../fonts/GothamPro.ttf") format("woff");
  }
body {
    margin: 0;
}
header {
    height: 40px;
    background: #025496;

}
.lang{
    color: white;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 1100px;
    margin: 0 auto;
}
.menu a{
    color: white;
    text-decoration: none;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

}

.logo a {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    margin: 0 8px 0 8px;
    text-decoration: none;
    color: black;
}
.header_inner{
    width: 1100px;
    margin: 20px auto 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.map {
    font-family: Open Sans;
    font-size: 18px;
}

.mail {
    font-family: Open Sans;
    font-size: 18px;
}

.order {
    text-align: end;


}
.order a {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 310px;
    height: 36px;
    background: #52ADF6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.time {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.time img {
    margin-right: 8px;
}
.tel img {
    margin-right: 8px;
}

.tel {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.main {
    background-image: url(../img/back.png);
    height: 550px;
}

.in {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;

}
.in p {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: white;
}

.products {
    margin-top: 140px !important;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    width: 550px;
    margin: 0 auto;
    margin-bottom: 140px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
    border: 1px solid #52ADF6;
    height: 839px;
    display: flex;
    align-items: center;

}
.noname img {
    width: 450px !important;
    height: 350px;
    margin: 0 auto;
    text-align: center;
}
.noname {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 780px;
}
.fz__minimized {

    cursor: pointer;
    border: 1px solid #FFF;
  }
  
  .fz__minimized:hover {
    border: 1px solid yellow;
  }
.product p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

ol > li {
    list-style-type: none;
}

.sett li {
    width: 175px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: right;
}

.sett {
    display: flex;
}

.descr li {
    width: auto;
    text-align: left !important;
}

.days {
    font-weight: normal !important;
    font-size: 18px !important;
}

.butt {
    width: 145px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color: #025496;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-around !important;
    width: 450px;
}
.butt1 {
    width: 263px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    background-color: #52ADF6;
    border-radius: 5px;
}

.faq {
     background-color: #52ADF6;
     height: 635px;
     margin-bottom: 140px;
     
}

.fq p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #ffff;
    text-align: center;
    margin-bottom: 0;

}

.tell {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px !important;
    color: #000 !important;
}

.fq {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.applic {
    display: flex;
    justify-content: center;
    align-items: center;
}
.input {
    height: 40px;
    border-radius: 5px;
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 15px;
}
#submit {
    width: 350px;
    height: 40px;
    background: #025496;
    border-radius: 5px;
    border: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.description h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.description {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 140px;
}
#submit {
    transition: 0.3s;
    cursor: pointer;
}
#submit:hover {
    transform: scale(1.1);
  }
.service {
    transition: 0.3s;
}
.service:hover {
    transform: scale(1.1);
  }
  .product {
    transition: 0.3s;
}
.product:hover {
    transform: scale(1.1);
  }
  .buy a {
    transition: 0.3s;
}
.buy a:hover {
    transform: scale(1.1);
  }
.description p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.pergols h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-top: 5px;
    margin-bottom: 22px;
}

.pergols p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.pergols {
    width: 1130px;
    margin: 0 auto;
    display: flex;
}

.op {
    margin-left: 30px;
    margin-right: 30px;
}

.par {
    width: 1100px;
    margin: 0 auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 140px;
}

.serv h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    width: 1100px;
    margin: 0 auto;
    text-align: center;

}

.serv {
    margin-top: 140px;
}

.services {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-items: baseline;
}

.service h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.service p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top: 0;
}

.service {
    width: 278px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 75px;
}

.burger{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  .burger span, .burger span:before, .burger span:after{
    width: 100%;
    position: absolute;
    height: 10px;
    background: #333;
    display: block;
    transition: .3s;
    border-radius: 5px;
  }
  .burger span:before{
    content: "";
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger span{
    top: 20px;
  }
  .burger span:after{
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .burger span.active:before{
    content: "";
    top: 0px;
    transform: rotate(45deg);
    transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .burger span.active:after{
    content: "";
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .burger span.active{
    background: rgba(255, 255, 255, 0); 
  }
  .menu1{
    width: 300px;
    height: auto;
    background: #333;
    color: #000;
    padding: 10px;
    position: fixed;
    left: -320px;
    transition: left 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menu1.animate{
    left: 0;
  }
.burger {
    display: none;
}
.menu1 {
    display: none;
}
